/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    -fx-tab-min-width: 120px;
}

/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/

/* =============== STYLE ALL TABLES ====================== */

.table-cell {
    -fx-padding: 0.33em;
}

/*******************************************************************************
 *                                                                             *
 * BarChart                                                                    *
 *                                                                             *
 ******************************************************************************/

.default-color0.chart-bar {
    -fx-background-color: limegreen;
}

.default-color1.chart-bar {
    -fx-background-color: firebrick;
}

/*******************************************************************************
 *                                                                             *
 * Main Window header                                                          *
 *                                                                             *
 ******************************************************************************/

#hbox-header {
    -fx-background-image: url("../images/background-header.jpg");
}

/*******************************************************************************
 *                                                                             *
 * Main Window buttons                                                         *
 *                                                                             *
 ******************************************************************************/

#main-frame-top-button-about,
#main-frame-top-button-backup,
#main-frame-top-button-options,
#main-frame-top-button-close {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 2 2 2 2;
}

#main-frame-top-button-about:hover,
#main-frame-top-button-backup:hover,
#main-frame-top-button-options:hover,
#main-frame-top-button-close:hover {
    -fx-effect: innershadow(gaussian, grey, 15, 0, 0, 0);
    -fx-border-color: grey;
}

#main-frame-top-button-about:pressed,
#main-frame-top-button-backup:pressed,
#main-frame-top-button-options:pressed,
#main-frame-top-button-close:pressed {
    -fx-effect: innershadow(gaussian, lightgrey, 15, 0, 0, 0);
    -fx-background-color: lightgrey;
}
